<!DOCTYPE html>
<html>
  <head>
    <title>Misha - Occupation Stats</title>
	<style>
	* {
		font-family: Helvetica, Arial, sans-serif;
	}
	.center {
		margin: auto;
	}
	.spaced {
		margin-bottom: 10px;
	}
	h1, h3 {
		text-align: center;
	}
	a {
		color: black;
		text-decoration: none;
	}
	a:hover {
		color: gray;
	}
	#occu_link {
		color: blue;
	}
	#occu_link:hover {
		color: gray;
	}
	div {
		text-align: center;
		margin-bottom: 10px;
	}
	</style>
  </head>
  <body>
	<h1 class = "center spaced"> <a href="/">Occupation Stats</a> </h1>
	<h3 class = "center spaced" >Reported by Misha Kotlik</h3>
	<div>
		<a id = "occu_link" href = "/occupations">Head over to the latest occupation statistics for the United States.</a>
	</div>
  </body>
</html>
